@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --color-theme:#74b9ff;
    --color-text:#b2bec3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-theme);
    font-family: "import";
    
}

.card{
    height: 330px;
    width: 230px;
    margin: 100px auto;
    background-color:#485460;
    font-size: 26px;
    border-radius: 10px;
    position: relative;
}
.card__cart,
.card__heart{
    color: var(--color-text);
    position: absolute;
    top :10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    display: flex;
}
.card__cart{
    left: unset;
    right: 20px;
}
.card__img{
    width: 90%;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card__price{
    margin-top: -12px;
    padding-left: 50px;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
}
.card__price--title{
      color:var(--color-theme)
}
.card__size{
    padding-top: 20px;
    padding-left: 20px;
    color:var(--color-text);
    font-size: 16px;
}
.card__size span{
    padding: 2px 8px;
    background-color: var(--color-text);
    border-radius: 2px;
    color: black;
}
.card__color{
    margin-left: 20px;
    margin-top: 10px;
    color: var(--color-text);
    font-size: 16px;
}
.card__color span{
    padding: 0px 5px;
    border-radius: 50%;
    margin: 0px 3px;
    font-size: 10px;
  }
.card__color--green{
    background-color: aquamarine
}

.card__color--red{
    background-color: red;
}

.card__color--black{
    background-color: black;
}

.card__action{
    margin-left: 20px;
   
}
.card__action button {
    background-color: var(--color-theme);
    padding: 6px 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    transition: 0.1s;
    cursor: pointer;
}.card__action button:hover{
   transform: scale(0.9);
}
.card:hover .card__img img{
 transform: translateY(-50px) rotate(-30deg);
}
.card__size{
    margin-top: 100px;
}
.card__size ,.card__color ,.card__action{
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}
.card:hover .card__size ,
.card:hover .card__color,
.card:hover .card__action{
    transform: translate(0 ,-50px);
    visibility: visible;
    opacity: 100;
}
.card:hover .card__size{
   margin-top: 0;
}

.card:hover .card__price{
    transform: translate(0 ,-50px);
    margin-top:0;
    padding-left: 20px;
   transition: 0.5s;
}